:root {
  --background: #1a1b26;
  --background-alt: #24283b;

  --text: #c0caf5;
  --text-alt: #9aa5ce;

  --selected: rgba(122, 162, 247, 0.50);
  --hover: rgba(187, 154, 247, 0.22);

  --urgent: #f7768e;
}
