@import 'styles/buttons.css';
@import 'styles/colors.css';

window {
    font-family: "SF Pro Text", "GeistMono Nerd Font Propo";
    font-size: 1rem;
    color:  @foreground; /* text */
    background-color: alpha(@background, 0.75);
} 

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: transparent;
    /* background-color: alpha(@accent, 0.85); */
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px 2px transparent;
    border-radius: 36px;
    margin: 5px;
    /* color: @accent; */
    border:none;
}

button:focus {
    box-shadow: none;
    outline-style: none;
    background-size: 20%;
}

button:hover {
    background-size: 50%;
    outline-style: none;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
    background-color: @foreground;
    color: transparent;
}
