
configuration{
    modi: "run,window,combi";
    icon-theme: "Oranchelo";
    show-icons: true;
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: false;
    display-combi: " 🖥️  All ";
    display-run: " 🏃  Run ";
    display-window: " 🪟  Window";
    sidebar-mode: true;
    // font: "Cascadia Code Mono 14";
}

@theme "~/.config/rofi/themes/tokyonight.rasi"
