@theme "~/.config/rofi/themes/tokyonight.rasi"

configuration {
  font: "JetBrainsMono Nerd Font Medium 12";  // increase size
  display-drun:               "󰀻  Apps";
}

window {
  width: 30%;
}

element-icon {
    size:                       24px;
    vertical-align:             0.5;
    horizontal-align:           0.0;
}
