:root {
  --background: #1e1e2e;
  --background-alt: #181825;
  --text: #cdd6f4;
  --text-alt: #b4befe;
  --selected: rgba(180, 190, 254, 0.4);
  --hover: rgba(180, 190, 254, 0.16);
  --urgent: #f38ba8;
}
