@import url("theme.css");

* {
  all: unset;
  color: var(--text);
  font-size: 0.95rem;
  font-family: "CaskaydiaCove Nerd Font Propo";
  transition: 200ms;
  font-weight: 700;
}

.notification {
  padding: 0 5px;
  border-radius: 15px;
  border: 2px solid var(--background);
  color: var(--text);
}

.notification-background {
  background: var(--background);
  box-shadow: none;
  border-radius: 15px;
  margin: 8px;
}

.notification-row .inline-reply-entry {
  padding: 5px 10px;
  background: var(--background-alt);
  border-radius: 15px;
}

.notification-row .inline-reply-button {
  padding: 5px 10px;
  border-radius: 15px;
  background: var(--hover);
}

.notification-row .inline-reply .inline-reply-button:hover {
  background: var(--selected);
}

.notification .notification-content {
  margin: 10px;
}

.notification-content .text-box {
  margin: 0 0 0 15px;
}

.notification-content .time {
  font-size: 0.95rem;
  padding: 2px 0;
  font-weight: 800;
}

.notification .summary {
  font-weight: 800;
  margin-bottom: 2px;
  padding: 2px 0;
  font-size: 1rem;
}

.notification .body {
  color: var(--text-alt);
  font-size: 0.8rem;
}

.notification.critical {
  border-color: var(--urgent);
}

.notification.low progress,
.notification.normal progress,
.notification.critical progress {
  background: var(--selected);
}

.notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background: transparent;
}

.notification-background .close-button:hover {
  background: var(--hover);
}

.notification > *:last-child > * {
  min-height: 3.2em;
}

.notification > *:last-child > * .notification-action {
  background: var(--hover);
  margin: 0 6px 9px 6px;
  border-radius: 8px;
}

.notification > *:last-child > * .notification-action:hover,
.notification > *:last-child > * .notification-action:active {
  background: var(--selected);
}

.control-center {
  background: var(--background);
  border-radius: 15px;
  margin: 5px;
  padding: 12px;
}

.control-center .notification-background {
  background: var(--background-alt);
  margin: 7px 0;
}

.control-center .notification-background .close-button,
.notification-group-close-button {
  opacity: 0;
}

.notification-group {
  margin: 0px 8px;
}

.notification-group-headers {
  font-weight: bold;
  color: var(--text);
}

.notification-group-headers > label {
  margin: 0 3px;
  font-size: 1rem;
}

.notification-group-icon {
  color: var(--text);
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: var(--text);
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.widget-dnd {
  padding: 8px 14px;
  border-radius: 12px;
  margin: 5px 0;
  color: var(--text);
  background: var(--background-alt);
}

.widget-dnd > label {
  font-size: 1rem;
}

.widget-dnd switch {
  background: var(--hover);
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd switch slider {
  background: var(--text);
  border-radius: 8px;
}

.widget-volume,
.widget-backlight {
  padding: 8px 14px;
  margin: 5px 0;
  border-radius: 12px;
  color: var(--text);
  font-weight: 800;
  background: var(--background-alt);
}

.widget-volume label,
.widget-backlight label {
  font-size: 1.1rem;
}

.widget-volume slider,
.widget-backlight slider {
  border-radius: 24px;
  margin: -8px;
  background: var(--text);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.15), 0 4px 4px rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.widget-volume trough,
.widget-backlight trough {
  background: var(--hover);
  margin-left: 8px;
  border-radius: 12px;
}

.widget-volume highlight,
.widget-backlight highlight {
  padding: 3.5px;
  border-radius: 12px;
  background: var(--text);
}

.widget-dnd switch:hover,
.widget-buttons-grid button:hover,
.control-center .notification-group-collapse-button:hover,
.control-center .notification-group-close-all-button:hover {
  background: var(--hover);
}

.widget-mpris {
  background: var(--background-alt);
  border-radius: 15px;
  margin: 5px 0;
  padding: 0 10px;
}

.mpris-overlay {
  background: var(--background-alt);
}

.widget-mpris-player {
  background: var(--background-alt);
  color: var(--text);
  margin: 0 5px;
  padding: 10px 0 15px;
}

.widget-mpris-player .image-button:hover {
  border-radius: 8px;
  background: var(--hover);
}

.widget-mpris-player button {
  padding: 5px;
  margin: 0 2.5px;
}

.widget-mpris-player .mpris-overlay > box:last-child {
  border-radius: 16px;
  padding: 0 5px;
  background: var(--hover);
}

.widget-mpris-album-art {
  border-radius: 16px;
  margin: 6px 4px;
}

.widget-mpris-title,
.widget-mpris-subtitle {
  font-weight: 700;
  margin: 0 3px;
}

.widget-mpris-title {
  font-size: 1.2rem;
}

.widget-mpris-subtitle {
  font-size: 0.9rem;
  color: var(--text-alt);
}

.widget-buttons-grid {
  border-radius: 12px;
  padding: 6px 15px;
  background: var(--background-alt);
  margin:10px 0;
}

.widget-buttons-grid button {
  padding: 10px 10px;
  margin: 3px;
  background: var(--hover);
  border-radius: 15px;
}

.widget-buttons-grid button > label {
  font-size: 16px;
  color: var(--text);
}

.widget-buttons-grid button:hover {
  background: var(--selected);
}

.widget-buttons-grid button:checked {
  background-color: var(--text);
}

.widget-buttons-grid button:checked > label {
  color: var(--background);
}

.control-center-list-placeholder {
  color: var(--text);
}

.blank-window {
  background: transparent;
}
