@import "../../.cache/current-theme/waybar.css";
/* @import "colors.css"; */

* {
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  /* font-family: CaskaydiaMono Nerd Font; */
  font-family: Iosevka, FontAwesome, Noto Sans CJK, Jetbrains Nerd Font Propo, sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: @background;
  opacity:0.95;
  /* border-radius: 8px; */
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces{
  margin:8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  min-width: 8px;
  border-radius: 999px;
  margin-top:3px;
  margin-bottom:3px;
  background-color: @foreground;
  /* color: @background; */
  margin-right: 8px;
  transition: all 0.5s ease-out;
}

#workspaces button.active {
  min-width:35px;
  background-color:@accent;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-update,
#custom-notification,
#custom-controlcenter
{
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
  /* background: alpha(@accent, 0.1); */
  /* border:0.7px solid @foreground; */
  border-radius: 4px;
  min-width:40px;
  margin: 5px 0;
}

#custom-expand-icon:hover,#workspaces button:hover,#control:hover {
  background: alpha(@accent, 0.5);
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#control {
    padding: 4px 10px;
    border-radius: 9999px;
    margin:4px 0; 
    margin-left:6px;
    background: alpha(@accent, 0.2);
}
#control:hover {
    transition: background 0.15s ease;
}
