@import "../../current-theme/waybar.css";

* {
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  /* font-family: JetbrainsMono Nerd Font; */
  font-size: 14px;
}

window#waybar {
  background-color: @background;
  /* border-radius: 8px; */
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces{
  margin:8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  min-width: 8px;
  border-radius: 999px;
  background-color: @foreground;
  /* color: @background; */
  margin-right: 8px;
  transition: all 0.5s ease-out;
}

#workspaces button.active {
  min-width:35px;
  background-color:@accent;
}

#workspaces button.empty {
  /* opacity: 0.5; */
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-update,
#custom-notification,
#custom-controlcenter
{
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}




#control {
    padding: 4px 10px;
    border-radius: 9999px;
    margin:3px 0; 
    margin-left:6px;
    background: rgba(255, 255, 255, 0.18);
}
#control:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: background 0.15s ease;}

