/* Imports */
@import url("colors-waybar.css");

/* Global Styles */
* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 0.9rem;
  min-height: 0;
}

/* Waybar Base */
#waybar {
  background: rgba(43, 48, 59, 0.8);
  color: @text;
  margin: 5px 5px;
}

window#waybar {
  background: rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-family: "JetBrainsMono Nerd Font", monospace;
}

window#waybar > box {
  padding-left: 1rem;
}

/* Window Title */
#window {
  font-weight: bold;
  color: @color3;
  padding: 3px 8px;
  background: rgba(0, 0, 0, 0.5);
  margin: 4px 8px;
  border-radius: 8px;
}

/* Workspaces Module */
#workspaces {
  border-radius: 1rem;
  margin: 5px;
}

#workspaces button {
  color: @color13;
  border-radius: 1rem;
  padding: 1px 0.8px;
  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  color: @color9;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @color6;
  background-color: @color15;
  border-radius: 1rem;
}

/* Common Module Styling */
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#hyprland-language,
#network {
  margin: 0.3rem 1rem;
}

/* System Modules */
#clock {
  color: @color4;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @color2;
  border-radius: 0;
}

#battery.charging {
  color: @color2;
}

#battery.warning:not(.charging) {
  color: @color1;
}

#backlight {
  color: @color13;
  border-radius: 0;
}

#pulseaudio {
  color: @color8;
}

/* Custom Modules */
#custom-music {
  color: @color9;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @color5;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @color6;
}

/* Tray Module */
#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

/* Quick Links */
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
  padding: 0px;
  margin-right: 7px;
  color: @color15;
}
