/* Imports */
@import url("colors-waybar.css");

/* Global Styles */
* {
  font-family: "JetBrainsMono Nerd Font", monospace, FontAwesome;
  font-size: 0.9rem;
}

/* Waybar Base */
#waybar {
  background: rgba(43, 48, 59, 0.8);
  color: @color15;
}

window#waybar {
  background: rgba(0, 0, 0, 0.8);
}

window#waybar>box {
  padding: 0.26rem 1rem;
}

/* Window Title */
#window {
  font-weight: bold;
  background-color: @color2;
  padding: 3px 8px;
  border-radius: 8px;
  margin-left: 10px;
}

/* Workspaces Module */
#worksaces {
  border-radius: 1rem;
  margin: 5px;
}

#workspaces button {
  color: @color8;
  padding: 0.2px;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}

#workspaces button.active {
  color: @color1;
}

#workspaces button:hover {
  color: @color4;
}

/* Common Module Styling */
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-power,
#hyprland-language,
#bluetooth,
#network,
#custom-notification {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* System Modules */
#clock {
  font-weight: bolder;
  background-color: @color2;
  padding: 0rem 0.5rem;
  border-radius: 10px;
}

#battery {
  border-radius: 0;
}

#battery.charging {
  color: @color2;
}

#battery.warning:not(.charging) {
  color: @color1;
}

@keyframes blink {
  to {
    color: red;
  }
}

#battery.critical:not(.charging) {
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  color: @color13;
  border-radius: 0;
}

#pulseaudio {
  color: @color8;
}

/* Custom Modules */
#custom-music {
  color: @color9;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @color5;
}

#custom-power {
  margin-left: 1rem;
  color: @color4;
}

/* Tray Module */
#tray {
  border-radius: 1rem;
}

/* Quick Links */
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
  padding: 0px;
  margin-right: 7px;
  color: @color15;
}

window#waybar.empty #window {
  background-color: transparent;
}
