* {
    background:                  #0d0c0c;
    foreground:                  #dcd7ba;

    selected-active-background:  #7e9cd8;
    alternate-active-background: #1f1f28;

    border-size:                 2px;
    radius:                      1px;
}
