@use "./theme.scss" as *;

window.Osd {
  background: transparent;

  .osd__container {
    margin-bottom: 40px;
  }

  .osd {
    min-width: 200px;
    padding: 16px 12px;
    border-radius: $radius-pill;
    background: rgba($color-surface, $alpha-widget-surface);
    color: $color-on-surface;
    box-shadow: 0 8px 20px rgba(black, 1);
  }

  .osd__icon {
    @include icon-size($icon-size-md);
  }

  .osd__level {
    min-width: 180px;
    min-height: 8px;
    transform: scaleY(0.7);

    trough {
    }

    block {
      min-height: 8px;
      border-radius: $radius-pill;
    }

    block.filled {
      background: $color-brand;
    }
  }
}
