@use "./theme.scss" as *;

window.Osd {
  background: transparent;

  .osd__container {
    margin-bottom: $space-2xl;
  }

  .osd {
    min-width: 200px;
    padding: $space-md $space-lg;
    border-radius: $radius-rounded;
    background: $color-surface;
    color: $color-on-surface;
  }

  .osd__icon {
    @include icon-size($icon-size-md);
  }

  .osd__level {
    min-width: 180px;
    min-height: $space-xs;
    transform: scaleY(0.7);

    trough {
    }

    block {
      min-height: $space-xs;
      border-radius: $radius-pill;
    }

    block.filled {
      background: $color-brand;
    }
  }
}
