/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * by Stephan Raabe (2024) 
 * ----------------------------------------------------- 
*/

@import url("/home/danimatuko/.cache/wal/colors-waybar.css");

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

window#waybar > box {
  padding-left: 1rem;
  padding-left: 1rem;
}

#waybar {
  background: rgba(43, 48, 59, 0.5);
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @color0;
}

#workspaces button {
  color: @color5;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @color4;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @color6;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @color4;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @color2;
}

#battery.charging {
  color: @color2;
}

#battery.warning:not(.charging) {
  color: @color1;
}

#backlight {
  color: @color3;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @color8;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @color9;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @color5;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @color1;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
